<p id="notice"><%= notice %></p>

<p>
  <strong>Menu item:</strong>
  <%= @menu_items_order.menu_item_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu_items_order.order_id %>
</p>


<a href= "/">Home</a>
